label {
  display: block;
  font-family: 'Bembo-Bold', serif;
  font-size: 1em;
  color: $white;
  margin-bottom: 3px;
  margin-top: 15px;
}

label.checkbox-wrapper {
  margin-top: 0;
}

input[type=text],
input[type=email],
textarea {
  border: 1px solid #7a909b;
  border-radius: 3px;
  padding: 10px;
  box-sizing: border-box;
  // margin-bottom: 15px;
  display: block;
  width: 100%;
}

input[type=submit] {
  width: 38%;
  margin-left: -5px;
}

input[type=checkbox] {
  margin: 0;
  margin-right: 8px;
  vertical-align: middle;
}

.uniform__potty {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.form__contact {
  button {
    margin: 15px auto 0px;
  }
}

.form__newsletter {
  input[type=email] {
    width: 60%;
    margin-right: 2%;
    display: inline-block;
    margin-bottom: 0;
  }
}

form {
  .message {
    color: #fff;
    font-family: 'EB Garamond', serif;
  }
}

.enquiry-summary {
  display: block;
  padding: 15px;
  background-color: lighten($primary-color, 10%);
  border-radius: 2px;
  margin-bottom: 20px;
  position: relative;

  span {
    text-transform: uppercase;
    font-weight: bold;
    font-size: .85em;
    margin-bottom: 10px;
    display: block;
    opacity: .5;
  }

  h3, h4 {
    margin: 0;
    padding: 0;
  }
}

.clear-enquiry {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 3;
}

@media screen and (max-width: 350px) {
  .form__newsletter {
    input[type=email], input[type=submit] {
      display: block;
      width: 100%;
      margin: 0;
    }

    input[type=email] {
      margin-bottom: 10px;
    }
  }
}