.site-container {
  width: 100%;
  max-width: 744px;
  margin: 3% auto 0;

  // display: flex;
  // justify-content: space-between;

  // div {
  //   margin: 0 15px;
  // }

  // div:first-child {
  //   margin-left: 0;
  // }

  // div:last-child {
  //   margin-right: 0;
  // }
}

.col--main {
  width: 100%;
  max-width: $col-width * 3 + 60px;
  margin: 0 auto;
}