.header {
  width: 100%;
  text-align: center;
  padding-top: 4%;
}

.logo__aldus-leaf {
  margin-bottom: 20px;
  // display: block;
}

.logo__title {
  margin: 0 0 10px;
}

.logo__subtitle {
  text-transform: uppercase;
  margin: 0 0 30px;
  letter-spacing: 2px;
}

.main-navigation {
  padding: 12px 0;
  display: flex;
  list-style: none;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  margin-bottom: 20px;
  li {
    flex-grow: 1;
    text-align: center;

    a {
      text-transform: uppercase;
      font-family: 'Bembo-Bold';
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.footer-navigation {
  @extend .main-navigation;
  li {
    font-size: .8em;
  }
}