.header {
  width: 100%;
  text-align: center;
  padding-top: 4%;
}

.logo__aldus-leaf {
  margin-bottom: 20px;
  // display: block;
}

.logo__title {
  margin: 0 0 10px;
}

.logo__subtitle {
  text-transform: uppercase;
  margin: 0 0 30px;
  letter-spacing: 2px;
}

.main-navigation {
  padding: 0;
  display: flex;
  list-style: none;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  margin-bottom: 20px;
  li {
    flex-grow: 1;
    text-align: center;
    position: relative;
    text-transform: uppercase;
    font-family: 'Bembo-Bold';
    color: $secondary-color;
    padding: 12px 8px;
    a {
      &:hover {
        text-decoration: none;
      }
    }
  }

  @media (max-width: 400px) {
    font-size: .8em;
  }
}

.main-navigation li:hover,
.main-navigation li:focus  {
  .main-navigation__sub-menu {
    height: auto;
  }
}

.main-navigation__sub-menu {
  height: 0;
  overflow: hidden;
  -webkit-padding-start: 0;
  padding: 5px 0 0 0;
  list-style: none;
  position: absolute;
  left: -53px; // hard coded positioning
  margin: 0 auto;
  width: 240px;
  z-index: 5;
  font-size: .85em;
  li {
    padding: 8px;
    border-bottom: 1px solid darken($primary-color, 15%);
    background-color: darken($primary-color, 20%);
    &:first-child {
      margin-top: 5px;
      border-top-right-radius: $border-radius-size;
      border-top-left-radius: $border-radius-size;
      &::before {
        content: '';
        width: 0px;
        height: 0px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid darken($primary-color, 20%);
        display: block;
        vertical-align: middle;
        margin-right: 5px;
        position: absolute;
        top: -5px;
        left: 0; // hard coded
        right: 0;
        margin: 0 auto;
      }
    }
    &:last-child {
      border-bottom: none;
      border-bottom-right-radius: $border-radius-size;
      border-bottom-left-radius: $border-radius-size;
    }
  }
}

.footer-navigation {
  @extend .main-navigation;
  li {
    font-size: .8em;
  }
}