.product-page {
  font-size: 0;
}

.product__image, .product__content {
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
  padding: 15px;
  box-sizing: border-box;
}

.product__image {
  width: 40%;

  .image-frame {
    padding: 15px;
    background-color: $white;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
  }

  img {
    width: 100%;
    border-radius: 2px;
  }
}

.product__content {
  width: 60%;

  p:first-of-type {
    font-size: 1.2em;
  }
}

.product__headings {
  padding: 10px 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;

  .product__title {
    font-family: 'Bembo-Bold', serif;
    font-size: 2.2em;
    margin: 0 0 10px;
  }

  .product__author {
    font-family: 'Bembo-Semibold-Italic', serif;
    color: $faded-text;
    margin: 0;
  }
}

.product__pricing {
  padding: 10px 0;
  box-sizing: border-box;
  border-bottom: 1px solid $border-color;
}

.product__price {
  margin: 0 15px 0 0;
  display: inline-block;
  font-size: 2.2em;
  font-family: 'EB Garamond', serif;
  color: $secondary-color;
  line-height: 1;
}