.product-page {
  font-size: 0;
}

.product__image, .product__content {
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
  padding: 15px;
  box-sizing: border-box;
}

.product__image {
  width: 40%;
  text-align: center;

  .image-frame {
    // padding: 15px;
    background-color: $white;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
    font-size: 0;
  }

  img {
    width: 100%;
    // border-radius: 2px;
  }
}

.product__image--placeholder {
  display: block;
  width: 100%;
  height: 350px;
  background-color: darken($primary-color, 10%);
  position: relative;
  // border-radius: 2px;

  span {
    color: $faded-text;
    position: absolute;
    display: block;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Bembo-Bold', serif;
    text-transform: uppercase;
    font-size: 1rem;
  }
}

.product__thumbnails {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.product__thumbnail {
  width: 30%;
  padding-bottom: 30%;
  margin-right: 5%;
  margin-bottom: 1em;
  background-size: cover;
  background-position: center center;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);

  &:nth-child(4n-1) {
    margin-right: 0;
  }
}

// .lightbox {
//   /** Default lightbox to hidden */
//   display: none;

//   /** Position and style */
//   position: fixed;
//   z-index: 999;
//   width: 100%;
//   height: 100%;
//   text-align: center;
//   top: 0;
//   left: 0;
//   background: rgba(0,0,0,0.8);
// }

// .lightbox img {
//   /** Pad the lightbox image */
//   width: auto;
//   max-width: 90%;
//   max-height: 80%;
//   margin-top: 2%;
//   position: relative;
//   top: 50%;
//   transform: translateY(-50%);
// }

// .lightbox:target {
//   /** Remove default browser outline */
//   outline: none;

//   /** Unhide lightbox **/
//   display: block;
// }

.product__content {
  width: 60%;

  p:first-of-type {
    font-size: 1.4em;
  }
}

.product__headings {
  padding: 10px 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;

  .product__author {
    font-family: 'Bembo-Bold', serif;
    font-size: 1.6em;
    margin: 0 0 10px;
  }

  .product__title {
    font-family: 'Bembo', serif;
    color: $faded-text;
    margin: 0;
    font-size: 1.6em;
  }

  .product__publisher {
    // text-transform: uppercase;
    font-size: 1.2rem;
    font-family: 'Bembo-Semibold-Italic', serif;

    .product__publication-year {
      font-family: 'Bembo-Bold', serif;
    }
  }
}

.product__pricing {
  padding: 10px 0;
  box-sizing: border-box;
  border-bottom: 1px solid $border-color;
}

// .price__wrapper {
//   display: inline-block;
//   margin: 0 1rem 0 0;
//   position: relative;

//   &.sold-strikethrough {
//     &:after {
//       content: '';
//       width: 100%;
//       height: 3px;
//       background-color: $red;
//       position: absolute;
//       top: 50%;
//       right: 0;
//       left: 0;
//       transform: translateY(-50%);
//     }
//   }
// }

.sold-label {
  text-transform: uppercase;
  font-family: "Bembo-Bold", serif;
  color: $faded-text;
}

.product__price {
  display: inline-block;
  margin: 0 1rem 0 0;
  font-size: 3em;
  color: $secondary-color;
  line-height: 1;
  vertical-align: middle;
  font-family: "Bembo-Bold", serif;

  sup, span {
    // font-size: 1.5rem;
    // font-size: 2rem;
    // vertical-align: middle;
    color: inherit;
    // font-family: "Bembo-Bold", serif;
    // font-family: 'Arial', sans-serif;
  }
}

.button__enquire {
  vertical-align: middle;
}

@media screen and (max-width: 600px) {
  .product__image, .product__content {
    display: block;
    width: 100%;
    padding: 10px 0;
  }

  .product__image {
    max-width: 300px;
    margin: 0 auto;
  }
}