.product-page {
  font-size: 0;
}

.product__image, .product__content {
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
  padding: 15px;
  box-sizing: border-box;
}

.product__image {
  width: 40%;
  text-align: center;

  .image-frame {
    padding: 15px;
    background-color: $white;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
  }

  img {
    width: 100%;
    border-radius: 2px;
  }
}

.product__image--placeholder {
  display: block;
  width: 100%;
  height: 350px;
  background-color: darken($primary-color, 10%);
  position: relative;
  border-radius: 2px;

  span {
    color: $faded-text;
    position: absolute;
    display: block;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Bembo-Bold', serif;
    text-transform: uppercase;
  }
}

.product__content {
  width: 60%;

  p:first-of-type {
    font-size: 1.4em;
  }
}

.product__headings {
  padding: 10px 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;

  .product__title {
    font-family: 'Bembo-Bold', serif;
    font-size: 2.2em;
    margin: 0 0 10px;
  }

  .product__author {
    font-family: 'Bembo-Semibold-Italic', serif;
    color: $faded-text;
    margin: 0;
  }
}

.product__pricing {
  padding: 10px 0;
  box-sizing: border-box;
  border-bottom: 1px solid $border-color;
}

.product__price {
  margin: 0 1rem 0 0;
  display: inline-block;
  font-size: 3em;
  color: $secondary-color;
  line-height: 1;
  vertical-align: middle;
  font-family: "Bembo-Bold", serif;

  sup {
    font-size: 1.5rem;
    vertical-align: middle;
    color: inherit;
  }
}

.button__enquire {
  vertical-align: middle;
}